<li id="<%= dom_id(phone) %>"> (<%= phone.areacode %>
  ) <%= phone.number %> <%= 'x' + phone.ext if !phone.ext.empty? %>
   <%= link_to 'x',(local_assigns.has_key? :listing_item) ? listing_item : phone,
               :confirm => 'Are you sure?', :method => :delete, :remote => true,
               :class => "listable_delete" unless(local_assigns.has_key? :isconn) ? isconn : false %>  </li>