<div id="<%= dom_id(listing) %>" class="listing">
  <div class="user_name"><h1> <%= listing.user.name if listing.user.name %> </h1><div class="username">(<%= listing.user.username if listing.user.username %>)</div></div>

  <div class="card_name"><h1> <%= listing.name %>  </h1></div>
  <%=  link_to '', (local_assigns.has_key? :connection) ? connection : listing, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "delete_listing" %>

  <div class="listables">
    <div class="email_list">
      <h2>Emails </h2>
        <%= render listing.listing_items.where(:listable_type => 'Email')   %>
    </div>
    <div class="phone_list">
      <h2>Phones </h2>
        <%= render listing.listing_items.where(:listable_type => 'Phone')  %>
    </div>
   </div>


</div>
