<header class="section_tit">
  <h3>Home</h3>
</header>

<div class="l">
  <h2>Emails</h2>
  <ul class="emails">
    <%= render @emails %>
  </ul>
  <%= render "emails/email_form" %>
</div>

<div class="l">
  <h2>Phones</h2>
  <ul class="phones">
    <%= render @phones %>
  </ul>
  <%= render "phones/phone_form" %>
</div>

<header class="section_tit">
  <h3>Listings</h3>
</header>
  <%= render "listings/listing_form" %>
<div id="listings">
  <%= render @listings %>
</div>

<header class="section_tit">
  <h3>Contacts</h3>
</header>
<%= render "connections/connection_form" %>
<div class="conns">
  <%= render @connections %>
</div>
<div id="toast">
  unable to add to list. this issue has been reported
</div>